.navigation.pagination {

    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

//! not working code
// .interactive-border::after {

//     content: "";
//     background: $borderPrimaryColor;
//     height: 3px;
//     width: 100%;

// }

// header {

//     position: fixed;

// }

